# Basic Syntax and Variables

## python version
- checking python version in commandline<br><br>
- checking python version in notebook<br><br>

In [1]:
#checking python version in notebook
!python --version

Python 3.13.2

In [2]:
# Check Python Version Using Python Code
import sys # import system module

# Print the Python version using sys module
print(sys.version)

3.13.2 (tags/v3.13.2:4f8bb39, Feb  4 2025, 15:23:48) [MSC v.1942 64 bit (AMD64)]

In [3]:
print("Hello World")

Hello World

## variables in Python

##### variables are names that refers to a specific value, which can be any of data type.
1. Varible names contain letters,numbers,underscores<br><br>
2. Varible names are case-sensitive.<br><br>
3. varible names should short and descriptive.<br><br>
4. Variable names cannot be thesame as a python keyword. however avoid usind python keywords and  function names as variable names(e.g "if", "else","while")

In [4]:
# variable names must start with a letter or underscore_
# valid names:
name="Alice"
_age=25
totalamount=100

# Invalid names
# @name="Bob" Return error!cannnot start with special character
# name="Bob" error !cannot start with a number

In [5]:
message = "Hello pyhton World"

In [6]:
message

'Hello pyhton World'

In [7]:
message = "Hello pyhton World "
print(message) #print is a python keyword that print the value of the varible to the console

Hello pyhton World

In [8]:
#createssavin a variable Savings
savings=100
print(savings)

100

## TraceBack 

- When an error occurs in your program, the Python interpreter provides a traceback  when a program cannot run successfully.  <br></br>
- A traceback is a record of where the interpreter ran into trouble when trying to execute your code.  <br></br>
- Here’s an example of the traceback that Python provides after you’ve accidentally misspelled a variable’s name: <br></br>

In [9]:
print(hello, world)

NameError: name 'hello' is not defined

>python is case-sensitive

In [ ]:
name="Bob"
print(Name) # case sensitive

> Interpreter tell us what kind of error occurs name error (A name error usually means we either forgot to set a variable’s value before using it, or we made a spelling mistake when entering the variable’s name).

## Syntax Error
  >A syntax error occurs when you write code that isn't allowed in the python language

In [ ]:
print("Hello world)

### Different types of variables that can be used to store different kinds of data
- integer:store whole number such as 5, 10, 100.<br></br>
- Float: stores decimal number such 3.14, 0.5. <br></br>
- String: storfe text or characters such as "Hello World".  <br></br>
- Boolean: store a avalue that is either True or False. <br></br>

In [ ]:
# integer
x=10
y=20

#float
radius=5.0

#string
greeting="Hello World"

#Boolean
is_sunny=True
is_raining=False

In [ ]:
# assigning two variable x and y
x=2 # which assign as a number
y="2" # y assign as a string
print(x)
print(y)

## Comment 
>Comment are line of text that don't affect the way a program runs
Block comment start on anew line
inline comment appe#aer on the same line as the code they reference</bra>

In [ ]:
# This is a block comment.
greeting="Hello, World"
print(greeting) # This is an inline comment

>you can also use comment to **comment out code** while you are testing a program.

In [ ]:
# This is my first program
# it prints the phrase "Hello, World"
# the comment are longer than the code
greeting="Hello, World"
# print(greeting)

>Comment start with **#** (single-line) or triple quote **("""  """)** for multi-line comment.

In [ ]:
# This is a single comment


""" this is a multi-line comment
explaining the code below
"""

## Strings

- A string is a series of characters. <br></br>

- Anything inside quotes is considered a string in Python, and you can use single or double quotes around your strings like <br></br>

In [ ]:
"This is a string"   # using Double quote
'This is also a string'  # using single quote

In [ ]:
print(" This is a string")
print('This is a string')

> flexibility of using both single and double quote allows us to use quotes and apostrophes within your strings:

In [14]:
'I told my friend, "Python is my favorite language!" '

'I told my friend, "Python is my favorite language!" '

In [ ]:
"The language 'Python' is named after Monty Python, not the snake."

In [ ]:
type("Hello, World")  #output will indicate that the is an instance of the str data type

 ## String have three important property
 1. Strings contain individual letters or symbols called characters.<br></br>
 2. Strings have a length,defined as the number of character the string contains.<br></br>
 3. characters in astring appear in sequence, which means each character has a numbered position in the string.

In [10]:
name="faiza amimnu"
name.title()

'Faiza Amimnu'

In [11]:
name.upper()

'FAIZA AMIMNU'

In [ ]:

#check for type
type("hello world")

str

In [ ]:
#length of a string
message="hello world"
print(len(message))

11

In [ ]:
#Multiline string using triple quote as delimeter
paragraph="""this planet has-or rather had-a problem, which was this: most of the people living on it were unhappy for pretty much of the time. many solution were suggested for this problem, butcmost of this were largely concered with the the movement of small green pieces of paper, which is odd because on the whole it wasn't the small green piece of paper that were unhappy."""
print(paragraph)

this planet has-or rather had-a problem, which was this: most of the people living on it were unhappy for pretty much of the time. many solution were suggested for this problem, butcmost of this were largely concered with the the movement of small green pieces of paper, which is odd because on the whole it wasn't the small green piece of paper that were unhappy.

### Concatenation, Indexing and Slicing

1. Concatenatio:which join two string together<br></br>
2. Indexing:which get a single character from a string<br></br>
3. Slicing:which get several characters from a string at once.<br></br>

### String Concatenate

In [23]:
#concatenate
#combining two string using the + operator
string1="bed"
string2="room"
magic_string=string1 + string2
magic_string

'bedroom'

In [24]:
first_name="mary"
last_name="john"
full_name=first_name +" "+last_name
full_name

'mary john'

### String Indexing

In [ ]:
flavor="fig pie"
flavor[1] #this return second character at position 1 in fig pie

'i'

In [30]:
flavor[:3]

'fig'

In [31]:
flavor[3:]

' pie'

In [ ]:
flavor[-1] # this return the last character

'e'

>if you want to alter a string, then you must create an entirely new string. To change the string "goal" to"foal" ,you ca use astring slice to concatenate the letter"f" with everthing but the first letter of the word "goal"</br>

In [33]:
word="goal"
word="f"+word[1:]
word

'foal'

### String Slicing

In [27]:
first_three_letter=flavor[0]+flavor[1]+flavor[2]
first_three_letter

'fig'

## String Method

### converting string to upper case or lower case

In [34]:
"jean piget".upper()

'JEAN PIGET'

### Removing whitespace from a string
- .rstip():remove whitespace from the rightside
- lstrip():remove whitespace from the leftside
- .strip()

In [43]:
name="Jean Piget      "
name

'Jean Piget      '

In [45]:
name.rstrip()

'Jean Piget'

In [41]:
name="       Jean Piget     "
name

'       Jean Piget     '

In [42]:
name.strip()

'Jean Piget'

>Determine if a string start with or ends with a particular string</br>

In [48]:
starship="Enterprise"
starship.startswith("En")

True

In [49]:
starship.endswith("tre")

False

### using string with Arithmetics Operators

In [50]:
num="2"
num+num

'22'

>the +  operator concatenate two strings together, which is why the result of"2" + "2" is"22" and not "4"

In [53]:
num="12"
num*3 # this will concatenate three instance of the string"12" and return the string "12122"

'121212'

### Converting Strings to Numbers

In [54]:
num=input("Enter a number to be doubled:")
doubled_num=num*2
print(doubled_num)

44

### Converting Numbers to Strings

In [58]:
num_pancakes=10
"I am going to eat" + str(num_pancakes ) + "pancakes."

'I am going to eat10pancakes.'

>you can also call a String on a number literal</br>

In [63]:
"I am going to eat " + str(10 ) + " pancakes."

'I am going to eat 10 pancakes.'

>str( can even handle arithmetics expression)

In [62]:
total_pancakes=10
pancakes_eaten=5
"only " + str(total_pancakes - pancakes_eaten) +" pancakes left."

'only 5 pancakes left.'

In [64]:
total_pancakes=10
pancakes_eaten=5
"only " + str(10 -5) +" pancakes left."

'only 5 pancakes left.'

In [1]:
## create the variable monthly_saving and num_months
monthly_savings=10
num_months=4

## Multiply monthly_saving and num_months
new_savings=monthly_savings *num_months

#print new_savings
print(new_savings)

40

### Find a String in a Str
>using.find() method. this method allow you to find the location of a one string in another string- referred to as Substrings</br>

In [65]:
phrase="the surprise ie=s in here"
phrase.find("surprise")

4

In [2]:
#importing the math package
import math  ## or from math import pi

#calculate C
C=2*0.43 *math.pi ## or 2*0.43*pi

#Calculate A
A=math.pi * 0.43 ** 2

print("circumference: " + str(C))
print("Area: "+ str(A))

circumference: 2.701769682087222
Area: 0.5808804816487527

In [ ]:
##Using Aliases for imports
#import Scipy
# #from Scipy.linalg import inv as my_inv
#Use the alias to call the function
#result= my_inv([[1,2][3,4]])
#print(result)