## LIST
 A list in python is a compound data type that allow you to  group multiple values together. it uses square barcket[].</br>
<bra> A list can contain a mix of different python types, such as stings, floats, and boolean</bra>

__List Items__
> list items are ordered, changeable, and allow duplicate values</br>
- Ordered: means that the items have defined order, and that oredr will not change.
- Changeable:mean that we can change, add, and remove items in a list after it has been created.
- Allow duplicate:list can have items with the same value.

In [5]:
empty_list=[]   #create an empty list

In [6]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'pear']         # list of fruits

# Print the lists
print( fruits)

['banana', 'orange', 'mango', 'lemon', 'pear']

__List Length__
`len()`

In [7]:
print(len(fruits))   #get the length of the list item

5

__List Items-Data Types__
- list can have any data type

In [8]:
list1=["Apple", 34,True]
list1

['Apple', 34, True]

In [9]:
type(list1)

list

__List Constructor__
`list()`

In [ ]:
my_list=list(("apple","banana","orange"))  #the double round brackets
print(my_list)

['apple', 'banana', 'orange']

__Access List Items__

In [11]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'pear']         # list of fruits

# Print the lists
print( fruits[1])

orange

In [ ]:
""""Negative indexing"""

fruits = ['banana', 'orange', 'mango', 'lemon', 'pear']         # list of fruits

# Print the lists
print( fruits[-1])   #return the last item

pear

__Range of Index__

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'pear']         # 

# Print the lists
print( fruits[0:3])   #return the first,second and third

['banana', 'orange', 'mango']

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'pear']         # 

# Print the lists
print( fruits[:4])   #return the item from the begining to, but excluding pear

['banana', 'orange', 'mango', 'lemon']

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'pear']         # 

# Print the lists
print( fruits[2:])   #return the item from mango to the end

['mango', 'lemon', 'pear']

__Range of Negative Indexes__

In [18]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'pear']         # 

# Print the lists
print( fruits[-3:-1])   #return the

['mango', 'lemon']

In [19]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'pear']         # 

# Print the lists
print( fruits[-1])   #return the

pear

In [20]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'pear']         # 

if "banana" in fruits:
    print("Yes, 'banana' is in the fruits list")

Yes, 'banana' is in the fruits list

In [21]:
print('is "banana" in the list?: ', 'banana' in fruits )

is "banana" in the list?:  True

In [22]:
print('is "apple" in the list?: ', 'apple' in fruits )

is "apple" in the list?:  False

Change List Items
------------------------------------

__Change a Range of Item Values__

In [24]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'pear']         # 

fruits[0:3]=["apple", "berry"]
print(fruits)

['apple', 'berry', 'lemon', 'pear']

__Insert Items__ `insert()`

In [27]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'pear']         # 

fruits.insert(0,"apple")
print(fruits)

['apple', 'banana', 'orange', 'mango', 'lemon', 'pear']

Add List Items
------------------------

__Append Items__
`append()`

In [1]:
""""Add an item to the end of the list"""

fruits = ['banana', 'orange', 'mango', 'lemon', 'pear'] 
fruits.append("berry")
print(fruits)

['banana', 'orange', 'mango', 'lemon', 'pear', 'berry']

__Insert Items__
`insert()`

In [1]:
""""Insert an item at a specific index """

fruits = ['banana', 'orange', 'mango', 'lemon', 'pear'] 
fruits.insert(4,"papaya")
print(fruits)

['banana', 'orange', 'mango', 'lemon', 'papaya', 'pear']

__Extend__
`extend()`

In [2]:
""""Insert an item at a specific index """

fruits = ['banana', 'orange','lemon', 'pear'] 
tropical=["mango", "pineapple", "papaya"]
fruits.extend(tropical)
print(fruits)

['banana', 'orange', 'lemon', 'pear', 'mango', 'pineapple', 'papaya']

In [3]:
""""Insert an item at a specific index """

fruits = ['banana', 'orange','lemon', 'pear'] 
tropical=("mango", "pineapple", "papaya")
fruits.extend(tropical)
print(fruits)

['banana', 'orange', 'lemon', 'pear', 'mango', 'pineapple', 'papaya']

__Remove Specific Item__
`remove()`

In [4]:
"""" Remove the fruits """

fruits = ['banana', 'orange','lemon', 'pear'] 
fruits.remove("lemon")
fruits

['banana', 'orange', 'pear']

__Remove Specific Index__

In [7]:
"""" Remove the fruits """

fruits = ['banana', 'orange','lemon', 'pear'] 
fruits.pop(1)
fruits

['banana', 'lemon', 'pear']

In [ ]:
"""" Remove the last item in fruits """

fruits = ['banana', 'orange','lemon', 'pear'] 
fruits.pop()
fruits

['banana', 'orange', 'lemon']

In [9]:
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
"""" clear the list of  item in fruits """

fruits = ['banana', 'orange','lemon', 'pear'] 
fruits.clear()
fruits

[]

Loop Lists
----------------------------------

In [11]:
fruits = ['banana', 'orange','lemon', 'pear'] 
for x in fruits:
    print(x)

banana
orange
lemon
pear

__Loop through the Index Numbers__

In [ ]:
"""" use range() and len()"""

fruits = ['banana', 'orange','lemon', 'pear'] 
for i in range(len(fruits)):
    print(fruits[i])

banana
orange
lemon
pear

In [ ]:
"""" use while loop"""

fruits = ['banana', 'orange','lemon', 'pear'] 
i=0
while i < len(fruits):
    print(fruits[i])
    i= i + 1

banana
orange
lemon
pear

In [ ]:
"""" Looping using list comprehension"""

fruits = ['banana', 'orange','lemon', 'pear'] 
[print(x) for x in fruits]

banana
orange
lemon
pear

[None, None, None, None]

List Comprehension
---------------

List Comprehension offers a shorter sytax when you want to create a new list based on the values of an existing list

In [22]:
fruits = ['banana', 'orange','lemon', 'pear'] 
newlist=[]

for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['banana', 'orange', 'pear']

In [ ]:
##Using one line of code

fruits = ['banana', 'orange','lemon', 'pear'] 
newlist=[x for x in fruits if "a" in x]

print(newlist)

['banana', 'orange', 'pear']

- The syntax:the return value is a newlist , leaving the old list unchange
- Condition: the condition is like filter that only accepts the items that evaluate to `True`

In [ ]:
#Only accept items that are not "banana"

newlist=[x for x in fruits if x !="banana"]
newlist

['orange', 'lemon', 'pear']

In [29]:
newlist=[x for x in range (5)]
newlist

[0, 1, 2, 3, 4]

__Expression__
- the expression is the current item in the iterable,

In [30]:
newlist=[x .upper() for x in fruits]
newlist

['BANANA', 'ORANGE', 'LEMON', 'PEAR']

In [ ]:
""""Return orange instead of banana"""

newlist=[ x  if x !="banana" else "orange" for x in fruits]
newlist

['orange', 'orange', 'lemon', 'pear']

In [ ]:
"""" Sort  item in fruits """

fruits = ['banana', 'orange','lemon', 'pear'] 
fruits.sort()
fruits

['banana', 'lemon', 'orange', 'pear']

In [ ]:
"""" sort  item in fruits in descending """

fruits = ['banana', 'orange','lemon', 'pear'] 
fruits.sort(reverse=True)
fruits

['pear', 'orange', 'lemon', 'banana']

case INsensitive sort (sorting all capiatal letters before lower case letter)

In [35]:
"""" clear the list of  item in fruits """

fruits = ['banana', 'orange','Lemon', 'pear'] 
fruits.sort()
fruits

['Lemon', 'banana', 'orange', 'pear']

__Copy List__
`copy()`

In [ ]:


fruits = ['banana', 'orange','lemon', 'pear'] 
mylist=fruits.copy()
mylist

['banana', 'orange', 'lemon', 'pear']

In [37]:


fruits = ['banana', 'orange','lemon', 'pear'] 
mylist=fruits[:]
mylist

['banana', 'orange', 'lemon', 'pear']

In [1]:
hall=11.25
kit=18.0
liv=20.0
bed=10.75
bath=9.50

## create alist areas
areas=[hall,kit,liv,bed,bath]
print(areas)


##Adapt list areas
areas=["hallway", hall,"kitchen",kit,"living room",liv,"bedroom",bed,"bathroom",bath]  ## Adding descriptive strings alongside numerical values makes the list more informative
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]
['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [2]:
hall=11.25
kit=18.0
liv=20.0
bed=10.75
bath=9.50


##sing list
house=[["hallway", hall]
       ,["kitchen",kit]
       ,["living room",liv],
       ["bedroom",bed],
       ["bathroom",bath] ]
print(house)

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]

In [3]:
## list of areas
areas=["hallway", hall,"kitchen",kit,"living room",liv,"bedroom",bed,"bathroom",bath]

## print out second element from areas
print(areas[1])

## print out last element from areas
print(areas[-1])

## print out the area of the livingroom
print(areas[5])

11.25
9.5
20.0

In [4]:
##subsetting lists of lists
##subsetting a nested lists using a multiple square brackets.
house=[["hallway", hall]
       ,["kitchen",kit]
       ,["living room",liv],
       ["bedroom",bed],
       ["bathroom",bath] ]
print(house[-1][1])

9.5

#### Slicing Lists
<bra>slicing allow to select multiple element from a list</bra>

In [5]:
areas=["hallway", hall,"kitchen",kit,"living room",liv,"bedroom",bed,"bathroom",bath]
## Use Slicing to create downstairs
downstairs=areas[0:6]

# Use slicing to create upstairs
upstairs=areas[6:]

##printout downstairs and upstairs
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

### Updating List Element
<bra>to replace element in a list,you can subset the list and assign new values to the subset.</bra>

In [6]:
areas=["hallway", hall,"kitchen",kit,"living room",liv,"bedroom",bed,"bathroom",bath]

## correct the bathroom area
areas[-1]=10.50

# Change "Living room" to "Chill zone"
areas[4]="chill zone"
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

##### Extending a List
<bra>you can add element to list using + operator, which concatenates list

In [7]:
# Create the areaa list(updated version)
areas=["hallway",11.25,"kitchen",18.0,"chill zone", 20.0,"bedroom",10.75,"bathroom",10.5]

#Add poolhouse data to areas, new list is areas_1
areas_1=areas +["poolhouse",24.5]

#Add garage data to areas_1, new list is areas_2
areas_2=areas_1 + ["garage" ,15.45]
print(areas)
print(areas_1)
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [8]:
##Copying lists
#create list areas
areas=[11.25,18.0,20.0,10.75,9.50]

#create a true copy of areas
areas_copy=areas

#Change areas_copy
areas_copy[0]=5.0
print(areas)

[5.0, 18.0, 20.0, 10.75, 9.5]

#### Using a Built-in Functions
<br>```type()```to determine the type of a variable and ```len()``` to determine length of a variable</br>

In [9]:
#Create variable var_1 and var_2
var_1=[1,2,3,4]
var_2=True
#print out type of var_1
print(type(var_1))

#print out length of var_1
print(len(var_1))

#Convert var_2 to integer: out2
out2=int(var_2)
print(out2)

<class 'list'>
4
1

#### Sorting Lists with Multiple Arguments
<br> the ```sorted() ```function allow to sort lists in python. it takes  three arguments: ```iterate```, ```key```, and``` reverse```. </br>

In [10]:
# Create  Lists first and second
first=[11.25, 18.0, 20.0]
second=[10.57,9.50]

#Paste together first and second :full
full=first+second

#Sort full in descending order:full_sorted
full_sorted=sorted(full, reverse=True)
print(full_sorted)

[20.0, 18.0, 11.25, 10.57, 9.5]

#### Using Methods on Lists
<br>Built-in mMethod that aloow you to manipulate and query them. such as ```  .index()```  method to find the index of an element and the ```.count( )``` method to count occurrence of an element

In [11]:

areas=[11.25, 18.0, 20.0,10.57,9.50]

#print out the index of the element 20.0
print(areas.index(20.0))

#print out how often 9.50 appears in areas
print(areas.count(9.50))

2
1

#### Modifying Lists with Methods
<br> ```.append()``` add an element to the end of the list, and ```.reverse()``` reverses the order of the element.</br>

In [12]:
areas=[11.25, 18.0, 20.0,10.57,9.50]

# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)

print(areas)

#Reverse the orders of the element in areas
areas.reverse()
print(areas)

[11.25, 18.0, 20.0, 10.57, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.57, 20.0, 18.0, 11.25]

#### String Methods
<br> ```.upper()``` convert all characters to uppercase and ```.count()```counts the occurrence of a string.</br>

In [13]:
# String to experiment with: place
place="poolhouse"

#Use upper() on place
place_up=place.upper()

#print out place and place_up
print(place)
print(place_up)

##Print out the number of o's in place
print(place.count('o'))

poolhouse
POOLHOUSE
3

Using for loop to populate a list

In [2]:
my_list=[]
for number in range(0,101):
    my_list.append(number)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

List comprehension

In [3]:
my_list=[number for number in range(0,101)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
my_list2=[number for number in range(0,101) if number % 2==0]
print(my_list2)  # Display all even numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

List Methods
-----------------------------

| Method|Discription                                               |
|-------------|---------------------------------------------------------|
|`append()`    |Adds an element at the end of the list. </br>  |
|`clear()`        | Remove all the element from the list. </br> |
|`copy()`  |Return a copy of the list . </br> |
|`count()` | Return the number of element with specified value. </br> |
|`index()`  | Add the element of a list(or any iterable), to the end of the current list.</br> |
|`pop()` | Remove the element at the specified position. </br |
|`remove()` |  Remove the item with the specified value . </br>|
|`reverse()`    |Reverse the order of the list. </br>|
|`sort()`     |Sort the list. </br>|