## LIST
#### A list in python is a compound data type that allow you to  group multiple values together. it uses square barcket[]
<bra> A list can contain a mix of different python types, such as stings, floats, and boolean</bra>

In [1]:
hall=11.25
kit=18.0
liv=20.0
bed=10.75
bath=9.50

## create alist areas
areas=[hall,kit,liv,bed,bath]
print(areas)


##Adapt list areas
areas=["hallway", hall,"kitchen",kit,"living room",liv,"bedroom",bed,"bathroom",bath]  ## Adding descriptive strings alongside numerical values makes the list more informative
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]
['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [2]:
hall=11.25
kit=18.0
liv=20.0
bed=10.75
bath=9.50


##sing list
house=[["hallway", hall]
       ,["kitchen",kit]
       ,["living room",liv],
       ["bedroom",bed],
       ["bathroom",bath] ]
print(house)

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]

In [3]:
## list of areas
areas=["hallway", hall,"kitchen",kit,"living room",liv,"bedroom",bed,"bathroom",bath]

## print out second element from areas
print(areas[1])

## print out last element from areas
print(areas[-1])

## print out the area of the livingroom
print(areas[5])

11.25
9.5
20.0

In [4]:
##subsetting lists of lists
##subsetting a nested lists using a multiple square brackets.
house=[["hallway", hall]
       ,["kitchen",kit]
       ,["living room",liv],
       ["bedroom",bed],
       ["bathroom",bath] ]
print(house[-1][1])

9.5

#### Slicing Lists
<bra>slicing allow to select multiple element from a list</bra>

In [5]:
areas=["hallway", hall,"kitchen",kit,"living room",liv,"bedroom",bed,"bathroom",bath]
## Use Slicing to create downstairs
downstairs=areas[0:6]

# Use slicing to create upstairs
upstairs=areas[6:]

##printout downstairs and upstairs
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

### Updating List Element
<bra>to replace element in a list,you can subset the list and assign new values to the subset.</bra>

In [6]:
areas=["hallway", hall,"kitchen",kit,"living room",liv,"bedroom",bed,"bathroom",bath]

## correct the bathroom area
areas[-1]=10.50

# Change "Living room" to "Chill zone"
areas[4]="chill zone"
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

##### Extending a List
<bra>you can add element to list using + operator, which concatenates list

In [7]:
# Create the areaa list(updated version)
areas=["hallway",11.25,"kitchen",18.0,"chill zone", 20.0,"bedroom",10.75,"bathroom",10.5]

#Add poolhouse data to areas, new list is areas_1
areas_1=areas +["poolhouse",24.5]

#Add garage data to areas_1, new list is areas_2
areas_2=areas_1 + ["garage" ,15.45]
print(areas)
print(areas_1)
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [8]:
##Copying lists
#create list areas
areas=[11.25,18.0,20.0,10.75,9.50]

#create a true copy of areas
areas_copy=areas

#Change areas_copy
areas_copy[0]=5.0
print(areas)

[5.0, 18.0, 20.0, 10.75, 9.5]

#### Using a Built-in Functions
<br>```type()```to determine the type of a variable and ```len()``` to determine length of a variable</br>

In [9]:
#Create variable var_1 and var_2
var_1=[1,2,3,4]
var_2=True
#print out type of var_1
print(type(var_1))

#print out length of var_1
print(len(var_1))

#Convert var_2 to integer: out2
out2=int(var_2)
print(out2)

<class 'list'>
4
1

#### Sorting Lists with Multiple Arguments
<br> the ```sorted() ```function allow to sort lists in python. it takes  three arguments: ```iterate```, ```key```, and``` reverse```. </br>

In [10]:
# Create  Lists first and second
first=[11.25, 18.0, 20.0]
second=[10.57,9.50]

#Paste together first and second :full
full=first+second

#Sort full in descending order:full_sorted
full_sorted=sorted(full, reverse=True)
print(full_sorted)

[20.0, 18.0, 11.25, 10.57, 9.5]

#### Using Methods on Lists
<br>Built-in mMethod that aloow you to manipulate and query them. such as ```  .index()```  method to find the index of an element and the ```.count( )``` method to count occurrence of an element

In [11]:

areas=[11.25, 18.0, 20.0,10.57,9.50]

#print out the index of the element 20.0
print(areas.index(20.0))

#print out how often 9.50 appears in areas
print(areas.count(9.50))

2
1

#### Modifying Lists with Methods
<br> ```.append()``` add an element to the end of the list, and ```.reverse()``` reverses the order of the element.</br>

In [12]:
areas=[11.25, 18.0, 20.0,10.57,9.50]

# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)

print(areas)

#Reverse the orders of the element in areas
areas.reverse()
print(areas)

[11.25, 18.0, 20.0, 10.57, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.57, 20.0, 18.0, 11.25]

#### String Methods
<br> ```.upper()``` convert all characters to uppercase and ```.count()```counts the occurrence of a string.</br>

In [13]:
# String to experiment with: place
place="poolhouse"

#Use upper() on place
place_up=place.upper()

#print out place and place_up
print(place)
print(place_up)

##Print out the number of o's in place
print(place.count('o'))

poolhouse
POOLHOUSE
3