# Sets

<br> Sets are unordered, mutable collections of immutable object that cannot contain duplicates elements<br>
<br>Sets are useful for storing and performing operations on data when each values is unique<br>

In [14]:
# Create an empty set

my_set=set()
my_set

set()

In [1]:
my_set={1,2,3,4,5,6,7}
type(my_set)

set

In [2]:
my_set

{1, 2, 3, 4, 5, 6, 7}

- Add and remove items from setusing inbuilt function `add()` and `remove()`vrespectively:

In [3]:
my_set.add(8)
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
my_.remove(5)
my_set

In [4]:
6 in my_set

True

> the purpose of set is to perform set opersations that compare or combine different sets<br>

In [ ]:
set1={1,2,3,4}
set2={1,3,5,6}

set1.union(set2)  # Get the union of two sets

{1, 2, 3, 4, 5, 6}

In [ ]:
set1.intersection(set2)  # Get the intersection of two sets

{1, 3}

In [ ]:
set1.difference(set2) # Get the difference between two sets

{2, 4}

In [ ]:
set1.issubset(set2)  # Check whether set1is a subset of set2

False

In [ ]:
{2, 4}.issubset(set1)  # Check whether {2, 4} is a subset of set1

True

<br> you can convert a list into a set using the `set()` function.
Converting a list to a set drops any duplicate elements in the list<br>

In [12]:
my_list=[1,2,2,2,3,4,4,4,5,6,7,7]
set(my_list)

{1, 2, 3, 4, 5, 6, 7}

In [15]:
set_var={"Avengers","Ironman","Thor"}
set_var

{'Avengers', 'Ironman', 'Thor'}

In [16]:

set_var.add("Hulk")
set_var

{'Avengers', 'Hulk', 'Ironman', 'Thor'}

In [17]:
set["hulk"]

set['hulk']