# Sets

__Set Items__
> set items are Unordered,unchangeable, and do not allow duplicate values</br>
- UnOrdered: means that the items  in a set do not have a defined order, .
- UnChangeable:mean that we cannot change it, add or  remove items in a set after it has been created.
-  Not Allow duplicate:set cannot have  two items with the same value.

<br> Sets are unordered, mutable collections of immutable object that cannot contain duplicates elements<br>
<br>Sets are useful for storing and performing operations on data when each values is unique<br>

In [14]:
# Create an empty set

my_set=set()
my_set

set()

In [1]:
my_set={1,2,3,4,5,6,7}
type(my_set)

set

In [2]:
my_set

{1, 2, 3, 4, 5, 6, 7}

- Add and remove items from setusing inbuilt function `add()` and `remove()`vrespectively:

In [3]:
my_set.add(8)
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
my_.remove(5)
my_set

In [4]:
6 in my_set

True

__Join sets__
- `union()` and `update()` method joins all items from both sets.

> the purpose of set is to perform set opersations that compare or combine different sets<br>

In [5]:
set1={1,2,3,4}
set2={1,3,5,6}

set1.union(set2)  # Get the union of two sets

{1, 2, 3, 4, 5, 6}

- The `intersection()` method keep ONLY the duplicate.

In [6]:
set1.intersection(set2)  # Get the intersection of two sets

{1, 3}

- `difference()` method keeps the items fron the first set that are not in the other set.

In [7]:
set1.difference(set2) # Get the difference between two sets

{2, 4}

In [ ]:
set1.symmetric_difference(set2) # keep the items that are niot oresent in both sets

{2, 4, 5, 6}

In [ ]:
set1.issubset(set2)  # Check whether set1is a subset of set2

False

In [ ]:
{2, 4}.issubset(set1)  # Check whether {2, 4} is a subset of set1

True

__Join a Set and a Tuple__

In [4]:
set1={1,2,3,4}
set_2=("a", "b","c")
my_set=set1.union(set_2)
my_set

{1, 2, 3, 4, 'a', 'b', 'c'}

<br> you can convert a list into a set using the `set()` function.
Converting a list to a set drops any duplicate elements in the list<br>

In [12]:
my_list=[1,2,2,2,3,4,4,4,5,6,7,7]
set(my_list)

{1, 2, 3, 4, 5, 6, 7}

In [15]:
set_var={"Avengers","Ironman","Thor"}
set_var

{'Avengers', 'Ironman', 'Thor'}

In [16]:

set_var.add("Hulk")
set_var

{'Avengers', 'Hulk', 'Ironman', 'Thor'}

In [17]:
set["hulk"]

set['hulk']

In [2]:
set_var={"Avengers","Ironman","Thor"}
for x in set_var:
    print(set_var)

{'Thor', 'Ironman', 'Avengers'}
{'Thor', 'Ironman', 'Avengers'}
{'Thor', 'Ironman', 'Avengers'}

In [3]:
set_var={"Avengers","Ironman","Thor"}
my_var=["Hulk", "superman"]
set_var.update(my_var)
set_var

{'Avengers', 'Hulk', 'Ironman', 'Thor', 'superman'}

__Frozenset__

this is an immutable version of set. elemene cannot be added or removed from a frozenset.

In [10]:
set_var=frozenset({"Avengers","Ironman","Thor"})
print(set_var)
print(type(frozenset))

frozenset({'Thor', 'Ironman', 'Avengers'})
<class 'type'>

__Set Methods__

| Method|Discription                                               |
|-------------|---------------------------------------------------------|
|`clear()`    |Remove all the element from the set. </br>   |
|`add()`    |Add an element to the set. </br> `-`</br>   |
|`difference()`    |Return a new frozenset with the difference. </br> `-`</br>   |
|`difference_updated()`  |Return the items in this set that are also includded in another, specified set. </br> `-=`</br>   |
|`discard()`    |Remove the specified item. </br>   |
|`intersection_updated()`  | Remove the items in this set that are not present in other,specifeid set </br> `&=` </br> |
|`intersection()` | Return a new frozenset with the intersection. </br> `&` </br> |
|`copy()`  |Return a shallow copy  . </br> |
|`isdisjoint()` | Return whether two a frozenset have an intersection. </br> |
|issubset()`  | Return True if this frozenset is a proper subset of another.</br>`<=/<`</br> |
|`issuperset()` |  Return True if this frozenset is a proper superset of another. </br> `<=/>`</br>|
|`union()` |  Return a new frozenset containing the union . </br> `|`</br> |
|`updated()` | updated the set with the union of this set and others . </br> `|=`</br> |
|`symmetric_difference()`    | Return a new frozenset with the symmetric difference . </br> `^`</br>|