# Tuples

<br> Tuples are an immutable sequence data types that are commonly used to hold short collections of related data<br>
they are used to store multiple items in a single vasriable

__Tuples Items__
> Tuple items are ordered,unchangeable, and allow duplicate values</br>
- Ordered: means that the items have defined order, and that oredr will not change.
- UnChangeable:mean that we cannot change it, add or  remove items in a tuple after it has been created.
- Allow duplicate:tuple can have items with the same value.

<br>create an empty tuple<br>

In [2]:
tpl=tuple()
tpl

()

In [3]:
my_tuple=(1,2,3)
my_tuple

(1, 2, 3)

In [7]:
print(len(my_tuple))
print(max(my_tuple))
print(min(my_tuple))
print(sum(my_tuple))

3
3
1
6

In [8]:
print(type(my_tuple))

<class 'tuple'>

In [1]:
tuple_1=("apple","banana","orange")
tuple_1

('apple', 'banana', 'orange')

__Tuple Constructor__

In [2]:
tuple_1=list(("apple","banana","orange"))  #the double round brackets
print(tuple_1)

['apple', 'banana', 'orange']

**Convert tuple** into a list to add an item

In [4]:
tuple_1=("apple","banana","orange")
my_tuple=list(tuple_1)
my_tuple.append("pear")
tuple_1=tuple(my_tuple)
tuple_1

('apple', 'banana', 'orange', 'pear')

**Add tuple to tuple**

In [6]:
tuple_1=("apple","banana","orange")
my_tuple=("pear",)
tuple_1 += my_tuple
tuple_1

('apple', 'banana', 'orange', 'pear')

In [8]:
tuple_1=("apple","banana","orange")
my_tuple=list(tuple_1)
my_tuple.remove("apple")
tuple_1=tuple(my_tuple)
tuple_1

('banana', 'orange')