Python OOP
----------------

**OOP** Object Oriented Programming: it allows to structure code into classes and obects for better organization and reusability.

### Python Classes and Object

>python is an object oriented programming language
Almost everything in python is an object, with its properties and methods</bra>
A class define what an objrct should look like, and an object is created based on that class.

A class is like an object constructor, or a `blueprint` for creating object

In [11]:
## Create A class named Myclass
class Myclass:
    x=5

In [15]:
##create an object using the class named Myclass to create an object
p1=Myclass()
print(p1.x)

5

In [45]:
dir(p1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'myfunc',
 'name']

In [16]:
print(Myclass)

<class '__main__.Myclass'>

__Create Object__
>Object is an instance of a class

The `__init__()`method is a built-in method in class. which is always executed when the class is called.
    the `__init__()` method is used to a asign values to object properties, or other operations that are necessary to do when the object is being created.

In [37]:
## Create a class named person, use the __init__() method to assign a values for name and age
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

In [38]:
p1=Person("John",36)
print(p1.name)
print(p1.age)

John
36

>THE` __str__` method control what should be returned when the class object is represented as a string.
if the `__str__()` method is not set, the string representation of the object is returned.

In [39]:
### The string representation an object WITHOUT the __str__()method:
## Create a class named person, use the __init__() method to assign a values for name and age
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
p1=Person("John",36)
print(p1)

<__main__.Person object at 0x000002567CC28050>

In [40]:
##The string representation of an object WITH the __str__() method:

class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return f"Name:{self.name}\nAge:{self.age}"
p1=Person("John",36)
print(p1)

Name:John
Age:36

In [66]:
p1.name

'John'

In [41]:
##xIsert a function that print a greeting
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myfunc(self):
       print("Hello my name is" + self.name)
p1=Person("John",36)
p1.myfunc()

Hello my name isJohn

NB the `self` parameter is a reference to the current instance of the class, and is used to access variable that belong to the class.
it link the method to the specific object.

**Modify Object Properties**

In [28]:
p1.age=40
print(p1.age)

40

In [ ]:
##Create an empty class
class BackAccount:
  pass

In [2]:
b1 = BackAccount()

In [3]:
type(b1)

__main__.BackAccount

In [5]:
x = 10

In [ ]:
class BankAccount:
  def __init__(self, holder_name: str, balance: float, iscore: float):
     self.__holder_name = holder_name
     self.__balance = balance                 # __balance indicate private member(data attribute)
     self.__iscore = iscore

  def withdraw(self, amount: float):
    if self.__balance < amount:
      print("Insuffieient Funds!")
    else:
      self.__balance -= amount
      print("Transaction is Done!")

  def __str__(self):
    return f"Account holder: {self.__holder_name}\nBlance: {self.__balance}\nIscore: {self.__iscore}"

In [5]:
b3 = BankAccount("Chidi", 10000, 2)

In [6]:
print(b3)

Account holder: Chidi
Blance: 10000
Iscore: 2

In [29]:
b1 = BankAccount("Lamia", 1000, 1.5)
b1.withdraw(1000)

Transaction is Done!

In [7]:
b1 = BankAccount("Lamia", 1000, 1.5)
b1.withdraw(1001)

Insuffieient Funds!

In [32]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [8]:
b1.withdraw(100)

Transaction is Done!

In [19]:
dir(b1)

['_BankAccount__balance',
 '_BankAccount__holder_name',
 '_BankAccount__iscore',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'withdraw']

In [9]:
b2 = BackAccount("Beatrice", 2000, 1.2)

In [20]:
print(b2)

<__main__.BackAccount object at 0x7c85cf564740>

In [21]:
print(b1)

<__main__.BankAccount object at 0x7c85cf0f04a0>

# Inheritance

>Inheritance allow us to define a class that inherit all the method and properties from another class.

- **Parent class** is the class that inherited from, also called base class
- **Child class** is the class that inherit from another class, also called derived class

In [26]:
class BaseClass:
  x = 10

In [27]:
class DerivedClass(BaseClass):
  pass

In [28]:
d1 = DerivedClass()

In [29]:
d1.x

10

In [30]:
class ChildClass(DerivedClass):
  pass

In [31]:
c1 = ChildClass()

In [32]:
c1.x

10

In [47]:
##Create a Parent Class

class Person:
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname
    def printname(self):
            print(self.firstname,self.lastname)

## Use the Person class to create an object, then execute the printname method:
x=Person("John","Doe")
x.printname()

John Doe

In [ ]:
##Create a Child Class:Create a class named Student, which will inherit the properties and method from the Person class
class Student(Person):
    pass      ## Now the student class has the same properties and methods as the Person class

In [50]:
##Add __init__() Function

class Person:
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname
    def printname(self):
            print(self.firstname,self.lastname)

class Student(Person):
    def __init__(self,fname,lname):
     Person.__init__(self,fname,lname)
x=Student("Mike","Joe")
x.printname()

Mike Joe

In [ ]:
##Add __init__() Function
## Add property called graduationyear to the student class
class Person:
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname
    def printname(self):
            print(self.firstname,self.lastname)

class Student(Person):
    def __init__(self,fname,lname,year):
        super(). __init__(fname,lname)
        self.graduationyear=year
    def welcome(self):
        print("Welcome", self.firstname,self.lastname, "to the class of",
        self.graduationyear)
x=Student("Mike","Joe", 2025)
x.welcome()

Welcome Mike Joe to the class of 2025

>`Super()` Function used to make the child class inherit all the methods and properties  from its parent

In [51]:
class Person:
  def __init__(self, name, age):
    self._name = name
    self._age = age

  def set_name(self, name):
    self._name = name

  def get_name(self):
    return self._name

  def set_age(self, age):
    self._age = age

  def get_age(self):
    return self._age

In [52]:
class Programmer(Person):
  def __init__(self, name, age, company, salary):
     super().__init__(name, age)
     self.company = company
     self.salary = salary


  def __str__(self):
    return f"Name: {self._name}\nAge: {self._age}\nCompany: {self.company}\nSalary: {self.salary}"

In [53]:
sarah = Programmer("Sarah", 21, "Tech4Dev", 900)

In [76]:
print(sarah)

Name: Sarah
Age: 21
Company: Tech4Dev
Salary: 900

In [59]:
dir(sarah)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_age',
 '_name',
 'company',
 'get_age',
 'get_name',
 'salary',
 'set_age',
 'set_name']

In [45]:
sarah.set_name("Sarah Ahmed")

In [46]:
sarah.get_name()

'Sarah Ahmed'

In [47]:
sarah.set_age(22)

In [48]:
sarah.get_age()

22

In [63]:
class Doctor(Person):
  def __init__(self, name, age, speciality):
    super().__init__(name, age)
    self.speciality = speciality

  def __str__(self):
     return f"Doctor Name {self._name}\nAge: {self._age}\nSpeciality: {self.speciality}"

In [64]:
aalaa  = Doctor("Aalaa", 24, "Py")

In [65]:
print(aalaa)

Doctor Name Aalaa
Age: 24
Speciality: Py

Polymorphism
 ======================

Polymorphism is method /functions/Operators with the same name that can be execute on many object or classes.

#### Class Polymorphism
polymorphism is often used in Class methods, wher we can have multiple classes with the same method name

> Employee Management App

In [75]:
class Employee:
  no_employees = 0
  def __init__(self, name: str, age: int, salary: float):
    self.name = name
    self.age = age
    self.salary = salary
    Employee.no_employees += 1
    self.id = Employee.no_employees

  def __str__(self):
    return f"Id: {self.id}\nName: {self.name}\nAge: {self.age}\nSalary: {self.salary}"

In [106]:
class EmployeesManager:
  def __init__(self):
    self.employees = []

  def add_employee(self, name, age, salary):
    employee = Employee(name, age, salary)
    self.employees.append(employee)

  def remove_employee(self, id: int):
    for employee in self.employees:
        if id == employee.id:
          self.employees.remove(employee)
          break
    else:
      print("Employee Not Found!")

  def update_employee(self, id, age, salary):
    for employee in self.employees:
        if id == employee.id:
          employee.age = age
          employee.salary = salary
          break
    else:
      print("Employee Not Found!")

  def list_employess(self):
    for employee in self.employees:
      print(employee)
      print("-" * 50)

In [107]:
em = EmployeesManager()

In [108]:
em.add_employee("Lamia", 23, 1000)

In [109]:
em.add_employee("Serah", 32, 10000)

In [110]:
em.add_employee("Rukuat", 20, 5000)

In [81]:
em.remove_employee(4)

Employee Not Found!

In [111]:
Employee.no_employees

10

In [113]:
em.list_employess()

Id: 8
Name: Lamia
Age: 23
Salary: 1000
--------------------------------------------------
Id: 9
Name: Serah
Age: 32
Salary: 10000
--------------------------------------------------
Id: 10
Name: Rukuat
Age: 20
Salary: 5000
--------------------------------------------------

In [118]:
em.remove_employee(2)

In [119]:
em.list_employess()

Id: 1
Name: Lamia
Age: 23
Salary: 1000
--------------------------------------------------
Id: 3
Name: Rukuat
Age: 20
Salary: 5000
--------------------------------------------------

In [120]:
em.update_employee(6, 24, 10000)

Employee Not Found!

In [121]:
em.list_employess()

Id: 1
Name: Lamia
Age: 23
Salary: 1000
--------------------------------------------------
Id: 3
Name: Rukuat
Age: 20
Salary: 5000
--------------------------------------------------

In [63]:
x="Hello World"
print(len(x))

11

In [ ]:
##Create Different classes with the same method called move()

class Car:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model

    def move(self):
        print("Drive!")

class Boat:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    def move(self):
        print("Sail!")

class Plane:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    def move(self):
        print("Fly")

#Create a Car object
car1=Car("Ford", "Mustang")

#Create a Boat object
boat1=Boat("Ibiza", "Touring 20")

#Create a Plane object
plane1=Plane("Boeing","747")

for x in (car1,boat1,plane1):
    x.move()

Drive!
Sail!
Fly

### Inheritance Class Polymorphism
lets used inheritance to create a Parent class and a Child Class

Parent Class callled `vehicle` and Child classes `Car,Boat,Plane`
The child class inherit the vehicle method, but override them:

In [74]:
class Vehicle:
    def  __init__(self,brand,model):
        self.brand=brand
        self.model=model

    def move(self):
        print("Move!")


class Car(Vehicle):
    pass


class Boat(Vehicle):
    def move(self):
        print("Sail!")

class Plane(Vehicle):
    def move(self):
        print("Fly")

#Create a Car object
car1=Car("Ford", "Mustang")

#Create a Boat object
boat1=Boat("Ibiza", "Touring 20")

#Create a Plane object
plane1=Plane("Boeing","747")

for x in (car1,boat1,plane1):
    print(x.brand)
    print(x.model)
    x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly

Encapsulation
------------------

Encapsulation is about protecting data inside a class.

- **Data Protection**: Prevent accidental modification of data
- **Validation**: validate data before setting it
- **Flexibility**: Internsl implementation can change without affecting external code
- **Control**: full control over how data can is accessed and modified.

- **Private Properties** : used a double underscore _ _ prefix
  > `NB`   private properties can not be accessed directly from outside the class.

In [ ]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.__age=age  #private property

p1=Person("Emil", 25)
print(p1.name)
print(p1.__age)        #thsis willl cause error

Emil

AttributeError: 'Person' object has no attribute '__age'

In [ ]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.__age=age  #private property
    def get_age(self):       #using get method
        return self.__age
    

p1=Person("Emil", 25)
print(p1.get_age())

25

In [6]:
class Student:
    def __init__(self,name):
        self.name=name
        self.__grade= 0
    def set_grade(self,grade):
        if 0 <= grade <= 100:
            self.__grade=grade
        else:
            print("Grade must be beteen 0 and 100")

    def get_grade(self):
        return self.__grade
    
    def get_status(self):
        if self.__grade >= 60:
            return "Passed"
        else:
            return "Failed"
student=Student("Emil")
student.set_grade(85)
print(student.get_grade())
print(student.get_status())

85
Passed

Python Inner Classes
-----------------

An inner class is class define inside another class.The Inner clsas can access the properties and method of the outer class.

In [7]:
class Outer:
    def __init__(self):
        self.name="Outer class"

    class Inner:
        def __init__(self):
            self.name="Inner class"

        def display(self):
            print("This is the Inner class")

outer=Outer()
print(outer.name)

Outer class

In [18]:
class Outer:
    def __init__(self):
        self.name="Outer class"

    class Inner:
        def __init__(self,outer):
            self.outer=outer

        def display(self):
            print("This is the Inner class")

outer=Outer()
inner=outer.Inner(outer)                      
inner.display()

This is the Inner class

In [ ]:
 #self.name="Inner class"

Python Inner Classes
-----------------

An inner class is class define inside anothe

In [16]:
class Car:
    def __init__(self,brand, model):
        self.brand=brand
        self.model=model
        self.engine=self.Engine()

    class Engine:
        def __init__(self):
            self.status="Off"

        def start(self):
            self.status="Running"
            print("Engine started")

        def stop(self):
            self.status="Off"
            print("Engine stopped")

    def drive(self):
         if self.engine.status=="Running":
                print(f"Driving the {self.brand} {self .model}")
         else:
             print("Start the engine first!")

car=Car("Toyota","Corolla")
car.drive()
car.engine.start()
car.drive()

Start the engine first!
Engine started
Driving the Toyota Corolla