## Pandas Iterate Over Rows
### Handle Row -by-Row Operations

There are various methods you can apply to a pandas Dataframe to perform row iterations
- `.iterrows()`: Use this for simple row-wise opertions, where index and row data are needed . it returns index-series pairs, which can be slow for large dataframe and is not suitable for hearvy computations.
  >`iterrow()`this return each row as tuple of(index,series)</br>
- `itertuples()`: Use this as afaster alternative to `.iterrow()` , especially when you don't need a pandas series. It return a namedtuple of row values and is more memory-efficient than `.iterrow()`.
    > `itertuples()`yeild each row as a namedtuple.</br>
- `.apply(axis-=1)`: this applies a function to each row, and is usually used with the axis=1 argument. It is slower than vectorized methods, butr often faster than explicit loops.

### Using `iterrows()`

In [6]:
import pandas as pd

students={"Name":["Mary","Joseph"], "Age":[2,30]}
students=pd.DataFrame(students)

for index, row in students.iterrows():
    print(f"Index: {index}, Name:{row['Name']}, Age:{row['Age']}")

Index: 0, Name:Mary, Age:2
Index: 1, Name:Joseph, Age:30

The `.iterrows` method returns a generator that yield the index of a row, along with a Series object representing thew rows.
the keys of the series are ther column names , and the values are the corresponding data ineach row.

### Using `.itertuples()`

`.itertuples()` is faster and more efficient tham `.iterrows()` ,and it returns each row as a namedtuples, allowing access to column values using dot notation.

In [2]:
import pandas as pd

students={"Name":["Mary","Joseph"], "Age":[2,30]}
students=pd.DataFrame(students)

for  row in students.itertuples():
    print(f"Index: {row.index}, Name:{row.Name}, Age:{row.Age}")

Index: <built-in method index of Pandas object at 0x0000022EFFCBE750>, Name:Mary, Age:2
Index: <built-in method index of Pandas object at 0x0000022EFFCBE890>, Name:Joseph, Age:30

``` python
pandas(Index=0, Name='Mary', Age=2)
pandas(Index=1, Name='Joseph', Age=30)
```

#### Using `.apply()` for row-wise operations

``` python
df.apply(func=axis)
```
where the function to apply on the row is func, while the argument is axis=1 is set

In [3]:


students={"Name":["Mary","Joseph"], "Math":[85,90], "Science":[95,88]}
students=pd.DataFrame(students)


students["Average"]=students.apply(lambda row: (row["Math"] + row["Science"]) / 2, axis=1)

students.head()

     Name  Math  Science  Average
0    Mary    85       95     90.0
1  Joseph    90       88     89.0

>NB Use `.apply()` method when creating new columns based on existing ones, or when applyin custom calculations or transformations.</br>

### Using DataFrame .index with loc/iloc for manual iteration

In [4]:


students={"Name":["Mary","Joseph"], "Age":[2,30]}
students=pd.DataFrame(students)

# Using iloc
for i in range(len(students)):
    print(f"Name:{students.iloc[i]['Name']}, Age:{students.iloc[i]['Age']}")

# Using loc
for idx in students.index:
    print(f"Name:{students.loc[idx,'Name']}, Age:{students.loc[idx,'Age']}")

Name:Mary, Age:2
Name:Joseph, Age:30
Name:Mary, Age:2
Name:Joseph, Age:30